node_modules
dist
.env
.env.local
web/
app/
build/
desktop/
gradle/
*.keystore
*.gradle
.gradle/
local.properties
build.gradle.kts
settings.gradle.kts
gradle.properties
gradlew
gradlew.bat
metadata.json
funs.txt
temp.txt
README.md
.github/
